{{products.price}}

<div class="adminTools">
	
	<!--ADD PRODUCT-->
	<div class="addProductContainer">
		<button ng-click="addProductBtn = !addProductBtn; cancelAddBtn = !cancelAddBtn; addInput = !addInput; saveNewBtn = !saveNewBtn; deleteToggle = !deleteToggle" ng-hide="addProductBtn">Add A Product</button>
		<button ng-click="addProductBtn = !addProductBtn; cancelAddBtn = !cancelAddBtn; addInput = !addInput; saveNewBtn = !saveNewBtn; deleteToggle = !deleteToggle" ng-show="cancelAddBtn">Cancel</button>
		<input ng-model="product.name" placeholder="Product name..." ng-show="addInput"> 
		<input ng-model="product.price" placeholder="Product price..." ng-show="addInput">
		<button ng-click="addProduct(product); product = ''" ng-show="saveNewBtn">Save Product</button>
	</div>
	
	<!--DELETE PRODUCTS-->
	<button ng-click="deleteToggle = !deleteToggle; doneDeleting = !doneDeleting; deleteButton = !deleteButton; openEditOptions = !openEditOptions" ng-hide="deleteToggle">Delete Products</button>
	<button ng-show="doneDeleting" ng-click="deleteToggle = !deleteToggle; deleteButton = !deleteButton; doneDeleting = !doneDeleting; openEditOptions = !openEditOptions ">Done Deleting</button>
	
	<input placeholder="Search for product..." ng-model="searchProducts">
	
	
</div>

<div class="productContainer" ng-repeat="product in products">
	<!--PRODUCT-->
	<p>{{product.name}}</p>
	<p>Price: {{product.price | currency}}</p>
	<!--DELETE BUTTON-->
	<button ng-click="deleteProduct(product)" ng-show="deleteButton">X</button>
	
	<!--EDIT OPTIONS-->
	<div class="editOptions">
		<button ng-hide="openEditOptions" ng-click="openEditOptions= !openEditOptions; saveEditButton = !saveEditButton; editOption = !editOption ">Edit</button>
		<button ng-show="editOption" ng-click="openEditOptions = ! openEditOptions; editOption =! editOption; saveEditButton = !saveEditButton">Cancel</button>
		<input ng-show="editOption" ng-model="updatedProduct.name" placeholder="Edit product name...">
		<input ng-show="editOption" ng-model="updatedProduct.price" placeholder="Edit product price...">
		<button ng-show="saveEditButton" ng-click="editProduct(updatedProduct, product); updatedProduct = ''">Save</button>
	</div>
	
</div>